export(dataPrep)
export(vitality.k)
export(vitality.ku)
export(vitality.4p)
export(vitality.6p)
export(mu.vd.6p)
export(mu.vd1.6p)
export(mu.vd2.6p)
export(mu.vd3.6p)
export(mu.vd4.6p)
export(mu.vd.4p)
export(mu.vd1.4p)
export(mu.vd2.4p)
export(SurvFn.6p)
export(SurvFn.in.6p)
export(SurvFn.ex.6p)
export(plotting.6p)
export(SurvFn.4p)
export(SurvFn.in.4p)
export(SurvFn.ex.4p)
export(plotting.4p)
export(SurvFn.k)
export(SurvFn.ku)
importFrom("graphics", "contour", "legend", "lines", "par", "plot", "points", "title")
importFrom("stats", "nlminb", "pnorm", "qchisq", "runif")